<!DOCTYPE html>
<html>
<head>
    <title>LEJOG 2021 Tracker</title>
    <meta name="viewport" content="width=device-width, 
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="/static/Leaflet.Photo/Leaflet.Photo.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="/static/js/cookies.min.js"></script>
    <script src="/static/Leaflet.Photo/examples/lib/reqwest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet-src.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="/static/Leaflet.Photo/Leaflet.Photo.js"></script>
    <script src="/static/Leaflet.GeographPhotos/Leaflet.GeographPhotos.js"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body {
            height: 100%;
            width: 100%;
        }
        #map {
            height: 100%;
            width: 100%;
        }
        .legend {
            width: 160px;
            font-size: 12px;
            color: #333333;
            font-family: "Open Sans", Helvetica, sans-serif;
            padding: 5px 5px;
            background-color: rgba(245,245,220,0.8);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            border-radius: 5px;
            border: 1px solid grey;
        }
        .nameEntry {
            width: 100%;

        }

    </style>
</head>
<body>

    <div id="map">
    </div>

    <script>
        // GLOBAL VARIABLES
        
        // name of the current walker - or undefined if we haven't identified
        var walker = Cookies.get('walker');
        
        // the map and markers
        var map = L.map("map").setView([53.946, -2.520], 6);
        var layerGroup = L.layerGroup().addTo(map);
        var icons = {
            'green': L.icon({
                    iconUrl: '/static/img/marker-icon-green.png',
                    iconAnchor: [12, 41],
                }),
            'red': L.icon({
                iconUrl: '/static/img/marker-icon-red.png',
                iconAnchor: [12, 41],
                }),
            'gold': L.icon({
                iconUrl: '/static/img/marker-icon-gold.png',
                iconAnchor: [12, 41],
                }),
            'yellow': L.icon({
                iconUrl: '/static/img/marker-icon-yellow.png',
                iconAnchor: [12, 41],
                }),
            'lightblue': L.icon({
                iconUrl: '/static/img/marker-icon-lightblue.png',
                iconAnchor: [12, 41],
                }),
            'darkblue': L.icon({
                iconUrl: '/static/img/marker-icon-darkblue.png',
                iconAnchor: [12, 41],
                }),
            'purple': L.icon({
                iconUrl: '/static/img/marker-icon-purple.png',
                iconAnchor: [12, 41],
                }),
            'pink': L.icon({
                iconUrl: '/static/img/marker-icon-pink.png',
                iconAnchor: [12, 41],
                })
        }

        // templates for the two varieties of form we use
        var mileageFormInner=`
        <form id="mileageUpdateForm" onsubmit="updateLocationFromForm(event)">
            <label>Your name</label><br>
            <select id="namePicker" name="name"></select><br>
            <label>Miles completed</label><br>
            <input type="text" id="mileage" name="mileage" size="10"><br>
            <label>Date</label><br>
            <input type="date" id="datePicker" name="date"><br>
            <input type="submit" id="submitMileage" value="Update">
        </form>`
        var newUserInner=`
        <form id="newWalkerForm" onsubmit="newWalkerFromForm(event)">
            Hi, I don't think we've met, are you one of these people?:<br>
            <div id="namePicker">
            </div>
                None of the above, my unique name is:<br>
                <input type="text" id="nameEntry" name="name" size="16"><br>
            <div>
                <button type="submit" id="nameEntrySubmit">Submit</button>
            </div> (Just so you know, we'll give you a cookie if you click.)
        </form>`

        // FUNCTIONS
        Date.prototype.toDateInputValue = (function() {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0,10);
        }); 

        // Fetch walker marker positions from web API
        // This is the 'inner' function that uses the fetch() API and returns
        // a promise. It needs a carefully-written 'outer' to retrieve the data.
        // THIS IS HOW TO WRAP A fetch() CALL:
        // var walkers = []
        // loadWalkers().then(data => {
        //     walkers = data; // data should be referenced once and once only
        //     console.log(walkers);  // walkers can be used freely
        // });
        async function loadWalkers() {
            let url = "https://lejog2021.nw.r.appspot.com/walkers";
            const response = await fetch(url, {
                method: 'GET', 
                mode: 'cors', 
                cache: 'no-cache', 
                credentials: 'same-origin',
                headers: {
                'Content-Type': 'application/json'
                },
                redirect: 'follow', 
                referrerPolicy: 'no-referrer', 
            });
            return response.json();
        }


        function initForm() {
            // The legend and the main elements of the form will have been added 
            // by drawMap(), but we have to add the list of walkers.

            let walkers = []
            loadWalkers().then(data => {
                walkers = data;

                // if there's no cookie, set up a form to identify this walker
                if (walker === undefined) {
                    document.getElementById('namePicker').innerHTML = '';
                    walkers.forEach(function(w, index) {
                        // set up the new user dialogue
                        var button = document.createElement('button');
                        button.value = w['name'];
                        button.innerHTML = w['name'] + "<br>last update " + w['date'];
                        button.onclick = function(e) {
                            e.preventDefault();
                            Cookies.set('walker', w['name'], { expires: new Date(2022, 0, 1) });
                            location.reload();
                        }
                        document.getElementById('namePicker').appendChild(button);
                    });
                } else {
                    // there is a cookie, set up a mileage update form for this walker
                    walkers.forEach(function(w, index) {
                        // set up the regular mileage update
                        var opt = document.createElement('option');
                        opt.value = w['name'];
                        opt.innerHTML = w['name'];
                        if (w['name'] == walker) {
                            opt.setAttribute('selected', true);
                        }
                        document.getElementById('namePicker').appendChild(opt);   
                    }); 
                    document.getElementById('datePicker').value = new Date().toDateInputValue();
                }
            });
        }


        function addLegend() {
            var legend = L.control({position: "topright"});
            legend.onAdd = function(map) {
                let div = L.DomUtil.create("div", "legend");
                if (walker === undefined) {
                    div.innerHTML = newUserInner;
                } else {
                    div.innerHTML = mileageFormInner;
                }
                return div;
            };
            legend.addTo(map);
        }

        function drawMap() {
            // Add the end-to-end route
            L.tileLayer(
                "https://tile.thunderforest.com/outdoors/{z}/{x}/{y}.png?apikey=028d7dc81ad647f88f6562ce4ecd34f2", 
                {attribution: 'Maps &copy; <a href="http://www.thunderforest.com">Thunderforest</a>,' +
                ' Data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>'}
            ).addTo(map);

        
            // fetch route points from static file
            var initRoute = {method: 'GET', 
                headers: {'Content-Type': 'application/json'},
                mode: 'cors',
                cache: 'default'}
            let myRouteReq = new Request("/static/js/route.json", initRoute);
            fetch(myRouteReq).then(
                function(resp) {
                    return resp.json();
                }).then(
                    function(route) {
                        L.geoJSON(route).addTo(map);
                        addLegend();
                    });
        }

        

        // paint markers on screen, using a JSON array of 'walker' dictionaries.
        // also add names on drop-down.
        function paintWalkers() {
            // remove all the markers in one go
            layerGroup.clearLayers();
            
            // markers for each current walker
            let walkers = []
            loadWalkers().then(data => {
                walkers = data;
                walkers.forEach(function(w, index) {
                    // add a popup marker on  screen
                    var marker = L.marker(w['point'], {title: w['name'], riseOnHover: true, icon: icons[w['colour']]});
                    marker.bindPopup("<b>" + w['name'] + "</b><br/>" + w['mileage'] + " miles<br/>" + w['date']).openPopup();
                    marker.addTo(layerGroup);

                    // add photos in the walker's grid square
                    var gph = L.geographPhotos({
                        api_key:'54b811a5cb', 
                        autoZoomOnAdd: false,
                        autoLoadOnMove: false,
                        geo: [w['point'][0],w['point'][1],500],
                        query: ''});
                    gph.addTo(layerGroup);
                    
                });
            });
        }

  
        // Add updated mileage for a walker to the database
        // This is the 'inner' function. It needs an outer to deref the promise,
        // which is updateLocationFromForm(), below
        async function updateLocation(name, date, mileage) {
            let url = "https://lejog2021.nw.r.appspot.com/update";
            var parms = {"name": name, "mileage": mileage, "date": date}
            const response = await fetch(url, {
                method: 'PUT', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: JSON.stringify(parms),
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            });
            return response.json(); // parses JSON response into native JavaScript objects
        }

        // Called directly from the mileage update form.
        function updateLocationFromForm(e) {
            e.preventDefault();
            let name = document.getElementById("namePicker").value;
            let mileage = document.getElementById("mileage").value;
            let date = document.getElementById("datePicker").value;
            if (mileage.length > 0) {
                updateLocation(name, date, mileage).then(data => {
                    // console.log(data);
                    paintWalkers();
                    document.getElementById("mileage").value = '';
                });
            }

        }

        // This is the 'inner' function. It needs an outer to deref the promise,
        // which is updateLocationFromForm(), below        
        async function newWalker(name, date) {
            let url = "https://lejog2021.nw.r.appspot.com/update";
            var parms = {"name": name, "date": date}
            const response = await fetch(url, {
                method: 'POST', 
                mode: 'cors', 
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(parms),
                redirect: 'follow', 
                referrerPolicy: 'no-referrer', 
            });
            return response.json();
        }

        function newWalkerFromForm(e) {
            e.preventDefault();
            let name = document.getElementById("nameEntry").value;
            let date = new Date().toDateInputValue();
            newWalker(name, date).then(data => {
                Cookies.set('walker', name, { expires: new Date(2022, 0, 1) });
                location.reload();
            });
        }

        // MAIN
        drawMap();
        initForm();
        paintWalkers();








        

    </script>

</body>
</html>
